<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
	<listeners>
		<listener class-name="com.flipkart.Basepage.ListenerClass" />
	</listeners>

	<test name="Test2">

		<parameter name="browser" value="Chrome" />
		<parameter name="invalidUn" value="986682599" />
		<parameter name="invalidPwd" value="Cn01234567" />
		<parameter name="validUn" value="9493301749" />
		<parameter name="validPwd" value="Cn012345678" />
		<parameter name="product"
			value="A Practitioners Guide to Test Automation Using SELENIUM" />

		<classes>
		 
		 	<class name="com.flipkart.test.LoginTest" />

			<!-- <class name="com.flipkart.test.LoginTest" /> 
			<class name="com.flipkart.test.AddToWishlistTest" />
			 <class name="com.flipkart.test.AddToCartTest" />
			 <class name="com.flipkart.test.BuyNowTest" 
				/> -->

		</classes>

	</test> <!-- Test -->

</suite> <!-- Suite --> 


 